config SPOTFLOW_LOG_BACKEND
	bool "Spotflow logging backend"
	default y if SPOTFLOW
	depends on LOG
	select LOG_OUTPUT

	help
		Enable sending logs to Spotflow cloud.


if SPOTFLOW_LOG_BACKEND

config HEAP_MEM_POOL_ADD_SIZE_SPOTFLOW_LOGGING
	int "Additional heap size required by Spotflow"
	default 6144 if SPOTFLOW_LOG_BACKEND
	help
		Additional heap size required by Spotflow logging backend.
		Increase this value if you experience issues with logs being sent.

config SPOTFLOW_LOG_BACKEND_QUEUE_SIZE
	int "Size of Spotflow log backend queue"
	default 16
	help
		Size of the queue used by Spotflow logging backend to store logs
		before sending them to the server.
		Increase this value if you experience issues with logs being dropped.

config SPOTFLOW_LOG_BUFFER_SIZE
	int "Size of Spotflow log buffer"
	default 512
	help
		Size of the buffer used by Spotflow logging backend to store logs before serialization.
		Make this at least as big as your longest expected log line.
		Increase this value if you experience issues with logs being dropped because of buffer overflow.

config SPOTFLOW_CBOR_LOG_MAX_LEN
	int "Size of Spotflow CBOR log buffer"
	default 1024
	help
		Size of the buffer used by Spotflow logging backend to serialize the logs to CBOR format.
		Increase this value if you experience issues with logs being dropped because of buffer overflow.

config SPOTFLOW_LOGS_PROCESSING_LOG_LEVEL
	int "Spotflow SDK log component log level"
	default SPOTFLOW_MODULE_DEFAULT_LOG_LEVEL
	range 0 4
	help
		Sets log level for Spotflow log component.
		Defaults to SPOTFLOW_MODULE_DEFAULT_LOG_LEVEL.
		Levels are:
		- 0 OFF, do not write
		- 1 ERROR, only write LOG_ERR
		- 2 WARNING, write LOG_WRN in addition to previous level
		- 3 INFO, write LOG_INF in addition to previous level
		- 4 DEBUG, write LOG_DBG in addition to previous level

config SPOTFLOW_DEFAULT_SENT_LOG_LEVEL
	int "Spotflow default sent log level"
	default LOG_MAX_LEVEL
	range 0 LOG_MAX_LEVEL
	help
		Filters the logs sent to Spotflow cloud according to their severity level.
		This is the default value that can be dynamically overridden from the cloud.
		Defaults to LOG_MAX_LEVEL, i.e. the maximal (minimal severity) compiled-in level.
		Levels are:
		- 0 OFF, do not send
		- 1 ERROR, send LOG_ERR
		- 2 WARNING, send LOG_WRN in addition to previous level
		- 3 INFO, send LOG_INF in addition to previous level
		- 4 DEBUG, send LOG_DBG in addition to previous level

config SPOTFLOW_LOG_BACKEND_SET_RUNTIME_FILTERING
	bool "Set runtime filtering when Spotflow log level is set from the cloud"
	default y
	depends on LOG_RUNTIME_FILTERING
	help
		If enabled, the Spotflow module will automatically call log_filter_set() to the
		Spotflow logging backend for all sources when it receives a new log level from the
		cloud. This optimization might help reduce resource usage, because if no backend
		consumes log messages of a certain level, their processing is skipped.

endif #SPOTFLOW_LOG_BACKEND
