config SPOTFLOW_LOG_BACKEND
	bool "Spotflow logging backend"
	default y if SPOTFLOW
	depends on LOG
	select LOG_OUTPUT

	help
		Enable sending logs to Spotflow cloud.


if SPOTFLOW_LOG_BACKEND

config HEAP_MEM_POOL_ADD_SIZE_SPOTFLOW
	int "Additional heap size required by Spotflow"
	default 6144 if SPOTFLOW_LOG_BACKEND
	help
		Additional heap size required by Spotflow logging backend.
		Increase this value if you experience issues with logs being sent.

config SPOTFLOW_LOG_BACKEND_QUEUE_SIZE
	int "Size of Spotflow log backend queue"
	default 64
	help
		Size of the queue used by Spotflow logging backend to store logs
		before sending them to the server.
		Increase this value if you experience issues with logs being dropped.

config SPOTFLOW_LOG_BUFFER_SIZE
	int "Size of Spotflow log buffer"
	default 512
	help
		Size of the buffer used by Spotflow logging backend to store logs before serialization.
		Make this at least as big as your longest expected log line.
		Increase this value if you experience issues with logs being dropped because of buffer overflow.

config SPOTFLOW_CBOR_LOG_MAX_LEN
	int "Size of Spotflow CBOR log buffer"
	default 1024
	help
		Size of the buffer used by Spotflow logging backend to serialize the logs to CBOR format.
		Increase this value if you experience issues with logs being dropped because of buffer overflow.

config SPOTFLOW_PROCESSING_BACKEND_LOG_LEVEL
	int "Spotflow library log level"
	default LOG_DEFAULT_LEVEL
	range 0 4
	help
		Sets log level for all Spotflow logging modules. All logs are debug by default.
		Levels are:
		- 0 OFF, do not write
		- 1 ERROR, only write SYS_LOG_ERR
		- 2 WARNING, write SYS_LOG_WRN in addition to previous level
		- 3 INFO, write SYS_LOG_INF in addition to previous level
		- 4 DEBUG, write SYS_LOG_DBG in addition to previous level

endif #SPOTFLOW_LOG_BACKEND
