.venv/
external
**/build*/
*.pyc
.vscode/compile_commands.json
.idea
modules/*west
**/credentials.conf
/.vscode/
**/cmake-build-debug/*
esp_idf/spotflow/examples/logs/sdkconfig
esp_idf/spotflow/examples/logs/sdkconfig.old
esp_idf/spotflow/examples/logs/managed_components/*
esp_idf/spotflow/examples/logs/.vscode/*
esp_idf/spotflow/examples/logs/dependencies.lock
