.venv/
external
**/build/
*.pyc
**/.vscode/*
.idea
modules/*west
**/credentials.conf
**/cmake-build-debug/*
**/sdkconfig
**/sdkconfig.old
**/managed_components/*
**/dependencies.lock
**/.clangd
esp_idf/spotflow/dist/*
.claude/
zephyr/tests/twister-out*

