/* GPIO not available in 4.1.0, adding based on commit
 * https://github.com/zephyrproject-rtos/zephyr/commit/2df6b7fd2dea95105b3598c41fecbd7089fab080
 */
#include <zephyr/dt-bindings/input/input-event-codes.h>
/ {
	aliases {
		/* make an alias so we can refer to “sw0” in code */
		sw0 = &user_button_0;
	};

	gpio_keys {
		compatible = "gpio-keys";
		user_button_0: button_0 {
			label = "User SW2";
			gpios = <&hsgpio0 11 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			zephyr,code = <INPUT_KEY_0>;
			status = "okay";
		};
	};
};

/* External flash chip - Winbond */
&w25q512jvfiq {
	partitions {
		/* Reducing size by 1 MB to leave space for coredump */
		storage_partition: partition@620000 {
			label = "storage";
			reg = <0x00620000 (DT_SIZE_M(57) - DT_SIZE_K(128))>;
		};

		/* Last 1MB of 64 MB flash */
		coredump_partition: partition@3f00000 {
			label = "coredump-partition";
			reg = <0x03f00000 DT_SIZE_M(1)>;
		};
	};
};
