&flash0 {
        partitions {
		/* Leave half of the storage partition (16KB) for the core dump */
		storage_partition: partition@f8000 {
			label = "storage";
			reg = <0x000f8000 0x00004000>;
		};
                coredump_partition: partition@fc000 {
                        label = "coredump-partition";
                        reg = <0x000fc000 0x00004000>;
                };
	};
};
