config SPOTFLOW_CORE_DUMPS
	bool "Enable core dumps upload to Spotflow"
	default n
	select DEBUG_COREDUMP
	select FLASH
# 	depends on DEBUG_COREDUMP_BACKEND_FLASH_PARTITION
	help
		Enable sending core dumps to Spotflow observability platform.


if SPOTFLOW_CORE_DUMPS

# spotflow uses Zephyr's coredump subsystem to upload core dumps
choice DEBUG_COREDUMP_BACKEND
	default DEBUG_COREDUMP_BACKEND_FLASH_PARTITION if SPOTFLOW_CORE_DUMPS
endchoice

config SPOTFLOW_PROCESSING_BACKEND_COREDUMPS_LEVEL
	int "Spotflow library core dumps log level"
	default LOG_DEFAULT_LEVEL
	range 0 4
	help
		Sets log level for all Spotflow logging modules. All logs are debug by default.
		Levels are:
		- 0 OFF, do not write
		- 1 ERROR, only write SYS_LOG_ERR
		- 2 WARNING, write SYS_LOG_WRN in addition to previous level
		- 3 INFO, write SYS_LOG_INF in addition to previous level
		- 4 DEBUG, write SYS_LOG_DBG in addition to previous level

config SPOTFLOW_COREDUMP_CHUNK_SIZE
    int "Size of Spotflow coredump chunk"
    default 1024
    help
        Size of the buffer used by Spotflow logging backend to store coredump chunks.
        Increase this value if you experience issues with coredumps being dropped because of buffer overflow.
        Should be smaller than SPOTFLOW_CBOR_LOG_MAX_LEN

config SPOTFLOW_CBOR_COREDUMP_CHUNK_MAX_LEN
    int "Size of Spotflow coredump coredump chunk"
    default 1200
    help
        TODO

config SPOTFLOW_COREDUMPS_BACKEND_QUEUE_SIZE
	int "Size of Spotflow log backend queue"
	default 16
	help
		Size of the queue used by Spotflow logging backend to store logs
		before sending them to the server.
		Increase this value if you experience issues with logs being dropped.
endif #SPOTFLOW_CORE_DUMPS
