CONFIG_ESP_TASK_WDT_EN=n
CONFIG_SPOTFLOW_DEBUG_MESSAGE_TERMINAL=y
CONFIG_SPOTFLOW_DEVICE_ID="qemu"
CONFIG_SPOTFLOW_INGEST_KEY=""
CONFIG_LOG_MAXIMUM_EQUALS_DEFAULT=n
CONFIG_LOG_MAXIMUM_LEVEL_DEBUG=y
CONFIG_EXAMPLE_CONNECT_ETHERNET=y
CONFIG_EXAMPLE_CONNECT_WIFI=n
CONFIG_EXAMPLE_USE_OPENETH=y
CONFIG_EXAMPLE_CONNECT_IPV6=n
