menuconfig SPOTFLOW
	bool "Enable Spotflow Observability"
	default n
	select HWINFO
# 	used by both Coredumps and Logging
	select ZCBOR
	select MBEDTLS
	select MBEDTLS_TLS_LIBRARY if NRF_SECURITY
	select MQTT_LIB
	select MQTT_LIB_TLS
	select MBEDTLS_KEY_EXCHANGE_ECDHE_RSA_ENABLED if !NRF_SECURITY
	select MBEDTLS_ECP_DP_SECP256R1_ENABLED
	select MBEDTLS_ECP_DP_SECP384R1_ENABLED if NRF_SECURITY
	select MBEDTLS_ECDH_C
	select MBEDTLS_ECP_C
	select MBEDTLS_RSA_C if NRF_SECURITY
	select MBEDTLS_DHM_C if NRF_SECURITY
	select MBEDTLS_GCM_C if NRF_SECURITY
	select NET_SOCKETS
	select NET_SOCKETS_POLL
	select NET_TCP
	select DNS_RESOLVER
	imply NET_SOCKETS_SOCKOPT_TLS
	help
		Enables Zephyr integration with Spotflow observability platform.

if SPOTFLOW

rsource "src/logging/KConfig"
rsource "src/coredumps/KConfig"

config SPOTFLOW_GENERATE_BUILD_ID
	bool "Generate build ID"
	default y
	# Use binary descriptors when possible
	select BINDESC if ARCH_SUPPORTS_ROM_START || ARCH_POSIX
	select BINDESC_DEFINE if ARCH_SUPPORTS_ROM_START || ARCH_POSIX
	help
		Generate build ID and embed it as a binary descriptor.
		Build ID allows to match core dumps with the original .elf file.

configdefault MBEDTLS_SSL_MAX_CONTENT_LEN
	default 4096 if SPOTFLOW

if NRF_SECURITY
configdefault MBEDTLS_MPI_MAX_SIZE
	int
	default 512 if SPOTFLOW
endif #NRF_SECURITY

configdefault MAIN_STACK_SIZE
	default 4096 if SPOTFLOW

configdefault ZVFS_OPEN_MAX
	default 32 if SPOTFLOW

# It's generally better to use a separate heap for mbedtls so that
# there is a dedicated heap for TLS operations without fragmentation.
# Skipped when nRF Security is used, as the default of MBEDTLS_HEAP_SIZE
# doesn't propagate correctly, leading to TLS handshake failures.
configdefault MBEDTLS_ENABLE_HEAP
	default y if SPOTFLOW && !NRF_SECURITY

if MBEDTLS_ENABLE_HEAP
# recommended size for mbedtls heap is 32kB
# to be able to verify whole Lets Encrypt certificate chain
configdefault MBEDTLS_HEAP_SIZE
	default 32768
endif # MBEDTLS_ENABLE_HEAP

config SPOTFLOW_SERVER_HOSTNAME
	string "Hostname of Spotflow observability platform"
	depends on SPOTFLOW
	default "mqtt.spotflow.io"

config SPOTFLOW_SERVER_PORT
	int "Port of Spotflow observability platform"
	depends on SPOTFLOW
	default 8883

config SPOTFLOW_DEVICE_ID
	string "Device ID device will use to connect to Spotflow observability platform"
	help
		Device ID is a unique identifier for your device in Spotflow observability
		platform. If empty, the hexadecimal representation of the result of
		hwinfo_get_device_id(...) will be used. You can provide the device ID
		in the code by defining the function char* spotflow_override_device_id().

config SPOTFLOW_INGEST_KEY
	string "Password device will use to connect to Spotflow observability platform"
	help
		Ingest key is a secret key used to authenticate your device
		It can be found in Spotflow observability platform

config SPOTFLOW_MODULE_DEFAULT_LOG_LEVEL
	int "Spotflow SDK backend level"
	default 2
	range 0 4
	help
		Sets default log level for all Spotflow components.
		Defaults to 2 (WARNING).
		Levels are:
		- 0 OFF, do not write
		- 1 ERROR, only write LOG_ERR
		- 2 WARNING, write LOG_WRN in addition to previous level
		- 3 INFO, write LOG_INF in addition to previous level
		- 4 DEBUG, write LOG_DBG in addition to previous level

config SPOTFLOW_MQTT_THREAD_CUSTOM_PRIORITY
	bool "Use custom priority for MQTT log thread"
	default n
	help
		Enable this option to use custom priority for the thread used to send logs to Spotflow server.
		Same priority is also used for thread preparing coredumps.
		If disabled, the thread will use default K_LOWEST_APPLICATION_THREAD_PRIO.

config SPOTFLOW_MQTT_THREAD_PRIORITY
	int "MQTT log thread priority"
	default 14
	depends on SPOTFLOW_MQTT_THREAD_CUSTOM_PRIORITY
	help
		Priority of the thread used to send logs to Spotflow server.
		To take effect, you need to enable SPOTFLOW_MQTT_THREAD_CUSTOM_PRIORITY.
		Increase this value if you experience issues with logs being sent.

config SPOTFLOW_PROCESSING_THREAD_STACK_SIZE
	int "Size of Spotflow processing thread stack"
	default 3072 if DEBUG_OPTIMIZATIONS
	default 2560
	help
		Size of the stack used by the Spotflow processing thread.
		Increase this value if you experience issues with logs/tls handshake.

config SPOTFLOW_SETTINGS
	bool "Enable persistence of Spotflow configuration using Zephyr settings subsystem"
	default y
	depends on SETTINGS
	help
		Enable this option to persist Spotflow configuration using Zephyr settings subsystem.
		If disabled, the configuration set from the cloud will be lost after reboot and loaded
		only after the connection to the cloud is established.

endif #SPOTFLOW
