menu "Spotflow"

    config SPOTFLOW_SERVER_HOSTNAME
        string "Hostname of Spotflow observability platform"
        default "mqtts://mqtt.spotflow.io:8883"
        help
            URL of an mqtt broker which Spotflow connects to.

    config SPOTFLOW_DEVICE_ID
        string "Device ID device will use to connect to Spotflow observability platform"
        help
            Device ID is a unique identifier for your device in Spotflow observability
            platform. If empty, the Device MAC Address will be used. Keep it less than 32 characters.

    config SPOTFLOW_INGEST_KEY
        string "Password device will use to connect to Spotflow observability platform"
        help
            Ingest key is a secret key used to authenticate your device
            It can be found in Spotflow observability platform

    config BROKER_CERTIFICATE_OVERRIDE
        string "Broker certificate override"
        default ""
        help
            Please leave empty if broker certificate included from a textfile; otherwise fill in a base64 part of PEM
            format certificate

    config BROKER_CERTIFICATE_OVERRIDDEN
        bool
        default y if BROKER_CERTIFICATE_OVERRIDE != ""

    choice SPOTFLOW_INTERNAL_LOGS
        prompt "Set log level of spotflow internal logs"
        default SPOTFLOW_INTERNAL_LOGS_DISABLED
        help
            Select the log level for spotflow to display.
            - "Debug" : Display all logs debug and others.
            - "logs"  : Only display info logs
            - "Disabled" : Disable the spotflow component logs.
        config SPOTFLOW_DEBUG_MESSAGE_TERMINAL
            bool "Debug"

        config SPOTFLOW_MESSAGE_TERMINAL
            bool "logs"
        
        config SPOTFLOW_INTERNAL_LOGS_DISABLED
            bool "Disabled"

    endchoice

    rsource "./Kconfig.buildid"
    rsource "./Kconfig.logging"
    rsource "./Kconfig.configs"
    rsource "./Kconfig.coredump"

endmenu
