CONFIG_SPOTFLOW_DEVICE_ID="qemu"
CONFIG_SPOTFLOW_INGEST_KEY="sf_ikv1_KX68PsFr2f950XZplnRXRE100_zPeTB5x4vp2xAGM1rLlBA7l4oYqfn6pV0axxGnD36IG5"
CONFIG_SPOTFLOW_DEBUG_MESSAGE_TERMINAL=y
CONFIG_EXAMPLE_CONNECT_ETHERNET=y
CONFIG_EXAMPLE_CONNECT_WIFI=n
CONFIG_EXAMPLE_USE_OPENETH=y
CONFIG_EXAMPLE_CONNECT_IPV6=n
CONFIG_LOG_MAXIMUM_LEVEL_DEBUG=y
CONFIG_LOG_MAXIMUM_EQUALS_DEFAULT=n
CONFIG_SPOTFLOW_METRICS=y
CONFIG_SPOTFLOW_METRICS_SYSTEM=y
