name: Push ESP IDF component to component registry
on:
  push:
    tags:
      - 'v*'            # Trigger on tags starting with v (e.g., v1.0.0)
    paths:
      - 'esp_idf/**'    # Trigger on changes within the esp_idf directory
  pull_request:
    paths:
      - 'esp_idf/**'    # Trigger on PRs with changes in esp_idf directory
      - '.github/workflows/**'  # Trigger on PRs with workflow changes
  # workflow_dispatch:    # Keep manual trigger for flexibility
  #   inputs:
  #     version:
  #       description: 'Manual version override'
  #       required: false

jobs:
  init:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.version.outputs.version }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Resolve version
        id: version
        uses: ./.github/actions/resolve-version
        with:
          # Optional: pass workflow_dispatch input if exists
          version: ${{ github.event.inputs.version || '' }}
      - run: echo ${{ steps.resolve-version.outputs.version }}

  upload_components:
    needs: init
    # Only run this job when triggered by a tag push
    if: startsWith(github.ref, 'refs/tags/')
    permissions:
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'
          fetch-depth: 0 # Necessary to see tags and history

      - name: Determine pre-release behavior
        id: prep
        run: |
          if [[ "${GITHUB_REF}" == refs/tags/* ]]; then
            echo "skip_pre_release=false" >> $GITHUB_OUTPUT
          else
            echo "skip_pre_release=true" >> $GITHUB_OUTPUT
          fi

      - name: Upload components
        uses: espressif/upload-components-ci-action@v2
        with:
          version: ${{ needs.init.outputs.version }}
          components: "device_sdk: esp_idf/spotflow/device_sdk"
          namespace: "spotflow"
          dry_run: ${{ github.event.inputs.dry_run || 'false' }}
          skip_pre_release: ${{ steps.prep.outputs.skip_pre_release }}
          api_token: ${{ secrets.IDF_COMPONENT_API_TOKEN }}
          # registry_url: "https://components-staging.espressif.com/" # For staging respository
