name: Build Zephyr Project

on:
  push:

permissions:
  contents: read        # Allows reading repository content (needed for checkout)
  issues: write         # Allows reporting build results to PR checks
  pull-requests: write  # Allows commenting/updating PR status

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - board: esp32c3_devkitc
            manifest: west-zephyr-espressif.yml
            sdk_version: 0.17.4
            sdk_toolchain: riscv64-zephyr-elf
            blob: hal_espressif
          - board: esp32c3_devkitm
            manifest: west-zephyr-espressif.yml
            sdk_version: 0.17.4
            sdk_toolchain: riscv64-zephyr-elf
            blob: hal_espressif
          - board: esp32c6_devkitc/esp32c6/hpcore
            manifest: west-zephyr-espressif.yml
            sdk_version: 0.17.4
            sdk_toolchain: riscv64-zephyr-elf
            blob: hal_espressif
          - board: esp32s3_devkitc/esp32s3/procpu
            manifest: west-zephyr-espressif.yml
            sdk_version: 0.17.4
            sdk_toolchain: xtensa-espressif_esp32s3_zephyr-elf
            blob: hal_espressif
          - board: cy8cproto_062_4343w
            manifest: west-zephyr-infineon.yml
            sdk_version: 0.17.4
            sdk_toolchain: arm-zephyr-eabi
            blob: hal_infineon
          - board: frdm_rw612
            manifest: west-zephyr-nxp.yml
            sdk_version: 0.17.4
            sdk_toolchain: arm-zephyr-eabi
            blob: hal_nxp
          - board: nrf7002dk/nrf5340/cpuapp/ns
            manifest: west-ncs.yml
            sdk_version: 0.17.0
            sdk_toolchain: arm-zephyr-eabi
          - board: rpi_pico/rp2040/w
            manifest: west-zephyr-raspberrypi.yml
            sdk_version: 0.17.4
            sdk_toolchain: arm-zephyr-eabi
            blob: hal_infineon

    steps:
      - name: Install West
        run: pip install west

      - name: Create workspace
        run: |
          west init \
            --manifest-url ${{ github.server_url }}/${{ github.repository }} \
            --clone-opt=--revision=${{ github.sha }} \
            --manifest-file zephyr/${{ matrix.manifest }} \
            .
          west update --fetch-opt=--depth=1 --narrow

      - name: Install Python packages
        run: west packages pip --install --ignore-venv-check

      - name: Download blobs
        if: ${{ matrix.blob != '' }}
        run: west blobs fetch ${{ matrix.blob }} --auto-accept

      - name: Install SDK
        run: |
          west sdk install \
            --version ${{ matrix.sdk_version }} \
            --toolchains ${{ matrix.sdk_toolchain }}

      - name: Configure application
        working-directory: modules/lib/spotflow/zephyr/samples/logs
        run: |
          cat <<EOF > credentials.conf
          CONFIG_NET_WIFI_SSID="TODOTODO"
          CONFIG_NET_WIFI_PASSWORD="TODOTODO"
          CONFIG_SPOTFLOW_DEVICE_ID="${{ matrix.board }}_${{ github.run_id }}"
          CONFIG_SPOTFLOW_INGEST_KEY="TODO"
          EOF

      - name: Build application
        working-directory: modules/lib/spotflow/zephyr/samples/logs
        run: |
          west build --board ${{ matrix.board }}
